<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hccake.ballcat.admin.modules.sys.mapper.SysPermissionMapper">
	<!--通过角色查询菜单信息-->
	<select id="listVOByRoleCode" resultType="com.hccake.ballcat.admin.modules.sys.model.vo.PermissionVO">
		SELECT
			m.*
		FROM
			sys_permission m
		LEFT JOIN sys_role_permission rm ON m.id = rm.permission_id
		WHERE
			m.deleted = 0
		AND rm.role_code = #{roleCode}
		ORDER BY
			m.sort DESC
    </select>
</mapper>
