<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hccake.ballcat.admin.modules.sys.mapper.SysMenuMapper">

	<resultMap id="sysMenuMap" type="com.hccake.ballcat.admin.modules.sys.model.entity.SysMenu">
		<id property="id" column="id"/>
		<result property="parentId" column="parent_id"/>
		<result property="title" column="title"/>
		<result property="icon" column="icon"/>
		<result property="permission" column="permission"/>
		<result property="path" column="path"/>
		<result property="targetType" column="target_type"/>
		<result property="uri" column="uri"/>
		<result property="sort" column="sort"/>
		<result property="keepAlive" column="keep_alive"/>
		<result property="hidden" column="hidden"/>
		<result property="type" column="type"/>
		<result property="remarks" column="remarks"/>
		<result property="deleted" column="deleted"/>
		<result property="createTime" column="create_time"/>
		<result property="updateTime" column="update_time"/>
	</resultMap>

	<sql id="Base_Column_List">
		id,
		parent_id,
		title,
		icon,
		permission,
		path,
		target_type,
		uri,
		sort,
		keep_alive,
		hidden,
		type,
		remarks,
		deleted,
		create_time,
		update_time
	</sql>

	<sql id="Base_Alias_Column_List">
		sm.id,
		sm.parent_id,
		sm.title,
		sm.icon,
		sm.permission,
		sm.path,
		sm.target_type,
		sm.uri,
		sm.sort,
		sm.keep_alive,
		sm.hidden,
		sm.type,
		sm.remarks,
		sm.deleted,        
		sm.create_time,        
		sm.update_time
	</sql>

	<!--通过角色查询菜单信息-->
	<select id="listByRoleCode" resultType="com.hccake.ballcat.admin.modules.sys.model.entity.SysMenu">
		SELECT
		<include refid="Base_Alias_Column_List"/>
		FROM
		sys_menu sm
		LEFT JOIN sys_role_menu rm ON sm.id = rm.menu_id
		WHERE
		sm.deleted = 0
		AND rm.role_code = #{roleCode}
		ORDER BY
		sm.sort DESC
	</select>
</mapper>