<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hccake.ballcat.codegen.mapper.TemplateDirectoryEntryMapper">

	<sql id="Base_Column_List">
    id, group_id, name, type, p_id, create_time, update_time  </sql>

	<sql id="Base_Alias_Column_List">
    tde.id, tde.group_id, tde.name, tde.type, tde.p_id, tde.create_time, tde.update_time  </sql>

</mapper>