<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hccake.ballcat.codegen.mapper.TemplateGroupMapper">

  <resultMap id="templateGroupMap" type="com.hccake.ballcat.codegen.model.entity.TemplateGroup">
                    <id property="id" column="id"/>
                          <result property="name" column="name"/>
                          <result property="createTime" column="create_time"/>
                          <result property="updateTime" column="update_time"/>
            </resultMap>

  <sql id="Base_Column_List" >
    id, name, create_time, update_time  </sql>

  <sql id="Base_Alias_Column_List">
    tg.id, tg.name, tg.create_time, tg.update_time  </sql>

  <select id="selectPageVo" resultType="com.hccake.ballcat.codegen.model.vo.TemplateGroupVO">
    SELECT
        <include refid="Base_Alias_Column_List"/>
    FROM
        gen_template_group tg
    ${ew.customSqlSegment}
  </select>
</mapper>