<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hccake.ballcat.codegen.mapper.TemplateGroupMapper">

	<select id="listSelectData" resultType="com.hccake.ballcat.common.core.domain.SelectData">
		select
			name, id as value
		from
			gen_template_group tg
	</select>

</mapper>