<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hccake.ballcat.codegen.mapper.TemplateInfoMapper">

	<sql id="Base_Column_List">
    directory_entry_id, group_id, title, content, engine_type, remarks, deleted, create_time, update_time  </sql>

	<sql id="Base_Alias_Column_List">
    t.directory_entry_id, t.group_id, t.title, t.content, t.engine_type, t.remarks, t.deleted, t.create_time, t.update_time  </sql>

</mapper>