package ${package}.${moduleName}.model.qo;

import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
import lombok.Data;
#if(${hasBigDecimal})
import java.math.BigDecimal;
#end

/**
 * ${comments} 查询对象
 *
 * @author ${author}
 * @date ${datetime}
 */
@Data
@ApiModel(value = "${comments}查询对象")
public class ${className}QO  {
private static final long serialVersionUID = 1L;

#foreach ($column in $columns)
    /**
     * $column.comments
     */
    #if($column.columnName == $pk.columnName)
    @ApiModelProperty(value="$column.comments")
    private $column.attrType $column.lowerAttrName;
        #break
    #end
#end
}
